{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card" style="width: 60%;">
      <div class="card-body">
        <h5 class="card-title text-center">Crypto-V 注册</h5>
        <form method="POST" action="{{ url_for('register') }}">
          {{ form.hidden_tag() }}
          <div class="form-group">
            <div class="d-flex justify-content-center">
              <div class="input-container">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control") }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-center">
              <div class="input-container">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control") }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-center">
              <div class="input-container">
                {{ form.account.label(class="form-control-label") }}
                {{ form.account(class="form-control") }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-center">
              <div class="input-container">
                {{ form.group_id.label(class="form-control-label") }}
                {{ form.group_id(class="form-control") }}
                <small class="form-text text-muted">在此处输入注册用户所在群组的群组号（选填）</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-center">
              <div class="input-container">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control") }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-center">
              <div class="input-container">
                {{ form.password2.label(class="form-control-label") }}
                {{ form.password2(class="form-control") }}
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-center mt-4">
              <div class="button-container">
              {{ form.submit(class="btn btn-primary btn-block") }}
              </div>
          </div>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="alert-container">
              {% for category, message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}